*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #948392;
}

h1{
    border: 2px solid rgba(0, 0, 0, 0.24);
    text-align: center;
    font-size: 5.5rem;
    background-color: #A5B1B1;
}
.all-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 8rem;
}
.choise{
    height: 180px;
    width: 180px;
    /* border: 2px solid black; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
img{
    height: 150px;
    width: 150px;
    border: 2px solid red;
    border-radius: 50%;
}
.choise:hover{
    cursor: pointer;
    background-color: black;
}

.score-board{
    /* border: 2px solid black; */
    display: flex;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
}
.score{
    text-align: center;
}

#user-score , #com-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    
}
#msg{
    background-color: black;
    color: white;
    font-size: 2rem;
    border: 2px solid black;
    display: inline;
    padding: 2rem;
    border-radius: 2rem ;
}